---
layout: compress
---

<!DOCTYPE html>
<html>
<body id="posts" class="inner-post-page">

  
          </ul>
              </div>
      </div>
    </div>

    <div class="block-right">
      
      
        <span></span>
      </a>
      <div class="inner-post content">
        <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>
        {{ content }}
        <br>
        
      </div>
    </div>
    {% include scripts.html %}
    {% include overlay.html %}
</body>
</html>
